extends layout

block content
  h1 Joe (Joke) Monster
  p Welcome #{userName}
  a(href= '/joke') Random Joke
  br
  a(href= '/jokes') All jokes
  br
  a(href= '/addJoke') Add new one
  hr
  p *** This site uses cookies ***