extends layout

block content

    h1 ͡° ͜ʖ ͡° LOGIN Bro
    form(name="login", method ="post")
        div.input
            p What's your name?

            input(type="text", name="userName" )
            input(type='submit', value='Submit')
